{% load typogrify %}
{% filter typogrify %}
            {% if post.title %}<h1>{{post.title}}</h1>{% endif %}
            <p class="tweet_meta"><span class="author {% if post.retweet %}retweet{% endif %}">{{post.author_html|safe}}</span> at <span class="posted-at"><a href="{{post.tweet_url}}">{{ post.published_date }}</a></span></p>

            <p class="tweet">{{post.content|safe}}</p>
{% endfilter %}
