<div id="disqus_thread"> 
</div> 
<script type="text/javascript">
    var disqus_developer = 1;
    var disqus_title = "{{post.content.title|escapejs}}";
    var disqus_url = "{{post.content.canonical_url}}";
    disqus_title = "Silicon Cape Launch thoughts";
    disqus_url = "http://nxsy.org/silicon-cape-launch-thoughts";
</script>
<script type="text/javascript" src="http://disqus.com/forums/nxsy/embed.js"></script>
