<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="{{BASE_URL}}/static/20100917.css">
        <link rel="stylesheet" type="text/css" href="{{BASE_URL}}/static/code.css">
        <link href="{{BASE_URL}}/static/shCore.css" rel="stylesheet" type="text/css" />
        <link href="{{BASE_URL}}/static/shThemeTechGeneral.css" rel="stylesheet" type="text/css" />

        {% block page_style %}
        {% endblock %}

        <script type="text/javascript" src="{{BASE_URL}}/static/shCore.js"></script>
        <script type="text/javascript" src="{{BASE_URL}}/static/shAutoloader.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <!--
        <script type="text/javascript" src="http://use.typekit.com/uen6mnt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        -->

        <title>{{title}}</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico"  />

<script type="text/javascript">
    if (typeof window.Delicious == "undefined") window.Delicious = {};
    Delicious.BLOGBADGE_MANUAL_MODE = true;
    Delicious.BLOGBADGE_TAGS_SHOW = false;
    Delicious.BLOGBADGE_GRAPH_SHOW = false;
</script>
<script src="http://static.delicious.com/js/d2-blogbadge.js"></script>
    </head>
    <body>

        <header role="banner">
            <h1 class=""><a href="/"><span id="header-sitename">techgeneral</span></a> <span id="header-by">by</span> <span id="header-name">Neil Blakey-Milner</span></h1>
            <ul>
                <li class="twitter"><a href="http://twitter.com/nxsy">nxsy on twitter</a></li>
                <li class="delicious"><a href="http://delicious.com/nxsy">nxsy on delicious</a></li>
                <li class="flickr"><a href="http://flickr.com/photos/nxsy">nxsy on flickr</a></li>
                <li class="linkedin"><a href="http://za.linkedin.com/in/neilbm">CV/Resume</a></li>
                <li class="feed"><a href="/feed/atom">Feed</a></li>
            </ul>
        </header>

        <content>
        {% block content %}
        {% endblock %}
        </content>
        <footer id="ft">
        </footer>
        <script type="text/javascript">
            SyntaxHighlighter.autoloader(
                'py python  static/shBrushPython.js'
            );
            SyntaxHighlighter.all();
        </script>
    </body>
</html>
